<!DOCTYPE html>
<html>
	<head>
		<title>CRC Queue Status</title>
		<link rel="stylesheet" href="../styles.css">
	    <META HTTP-EQUIV="refresh" CONTENT="60">
    </head>
	<body>
		<div id="header">
		</div>
		<div id="content">
                <h1><center> Notre Dame CRC<br>Queue Status</center></h1>
                <span class="text"> The maintenance period for CRC machines is from 2:00 -
                10:00 A.M. each Sunday.  During this period machines
                (especially interactive machines) may be unavailable.</span>
