<!DOCTYPE html>
<html>
        <head>
                <title>CRC Pending Jobs</title>
                <link rel="stylesheet" href="../styles.css">
                <META HTTP-EQUIV="refresh" CONTENT="60">
                <link rel="shortcut icon" type="image/x-icon" href="../templates/favicon.ico" />
        </head>
        <body>
                <div id="header">
                        <center>
                                <h1>Notre Dame CRC<br>
                                   UGE Pending Jobs</h1>
                        </center>
                        <a href="../Debug" title="Go to Debug Queue">Debug Queue</a>
                        <a href="../Long" title="Go to Long Queue">Long Queue</a>
                        <br>
                            <span class="info">Note: Jobs may enter pending state for 3 reasons:<br>
                                    (1) The Queue is full so a job must wait for a spot--qw (dependent on priority)<br>
                                    (2) There are error in the job properties--Eqw<br>
                                    (3) The job is in a hold state--hqw<br>
                            </span>
                </div>

